<!-- SKILL COMPONENT START -->
<div fxLayout="row" fxLayoutAlign="center center" class="my-12">

    <!-------------------------------------------->
    <!-- SKILL COMPONENT NAME -->
    <!-------------------------------------------->
    <span class="mat-body-2" fxFlex="1 0 0">HTML 5</span>

    <!-------------------------------------------->
    <!-- SKILL COMPONENT PROGRESS  -->
    <!-------------------------------------------->
    <div fxFlex="1 0 0" fxLayoutAlign="center center" fxLayoutGap="6px">

        <!----------------------->
        <!-- PROGRESS BAR -->
        <!----------------------->
        <mat-progress-bar fxFlex="1 0 0" mode="determinate" value="40"></mat-progress-bar>

        <!----------------------->
        <!-- PROGRESS TEXT -->
        <!----------------------->
        <span class="mat-caption">40%</span>
    </div>

</div>
<!-- SKILL COMPONENT END -->