<!-- FUSE CARD -->
<div [@animate]="{value:'*',params:{y:'100%'}}" class="fuse-card auto-width chart-card">

    <!------------------------ CARD TITLE -------------------------->
    <div class="p-16 border-bottom">
        <div class="h1">Biography</div>
    </div>
    <!---------------------- CARD TITLE END ------------------------>

    <!------------------------ CARD CONTENT ------------------------->
    <div class="bio-text mat-body-2">
        {{BIOGRAPHY}}
    </div>

</div>
<!-- FUSE CARD ENDS -->