<div class="page-layout blank p-6 mat-elevation-z8" fusePerfectScrollbar>

    <div class="login-card">
        <div>
            <img src="../../../../assets/images/logos/logo-cloud-cr.png" alt="Cloud CR Logo">
        </div>
        <div>
            <h1>Welcome to the <strong>Cloud Integrated Portal</strong> </h1>
            <p>
                You need to log in to view this page, please log in!
            </p>

        </div>
        <div>
            <button class="login-actions" mat-button mat-raised-button color="accent" [routerLink]="['login']" >LOGIN</button>
        </div>
    </div>
</div>
