// IMPORT
@import "../../../../@fuse/scss/fuse";

// VARIABLES
$IBM-blue-60: #0062ff;
$IBM-cyan-20: #b3e6ff;

// UTILITIES CLASSES
.blue-font {
    color: $IBM-blue-60;
}

.cyan-font {
    color: $IBM-cyan-20;
}

// HEADER
.header {
    //height: 320px;
    //min-height: 320px;
    //max-height: 320px;
    padding: 24px;
    background: url('assets/images/backgrounds/dark-material-bg.jpg') no-repeat 0 45%;

    // BREAKPOINT FOR  -> SCREENS <WIDER THAN 959px>
    @include media-breakpoint('gt-sm') {
        height: 200px;
        min-height: 200px;
        max-height: 200px;
    }

    // PROFILE IMAGE ----------------------------------------------
    .profile-image {

        // BREAKPOINT FOR  -> SCREENS <WIDER THAN 959px>
        @include media-breakpoint('gt-sm') {
            margin-right: 24px;
        }

    } // PROFILE END -----------------------------------------------

    // HEADER TITLE -----------------------------------------------

    .profile-name {
        font-size: 45px;
        color: #FFFFFF;
        text-align: center;
    }

    // HEADER TITLE END --------------------------------------------

    // CONTACT INFO ------------------------------------------------
    .contact-info {
        margin-top: 17px;

        @include media-breakpoint('gt-sm') {
            margin: 0 0 0 60px;
            height: 111px;
        }

    } // CONTACT INFO END ---------------------------------------------

} //  HEADER ENDS