<fuse-widget [@animate]="{value:'*',params:{y:'100%'}}">

    <!-- Front -->
    <div class="fuse-widget-front mt-12 mat-elevation-z5">

        <div fxFlex="row" fxLayout="center center" fxLayoutGap="20px" class="p-12">
            <mat-icon>flash_on</mat-icon>
            <span class="h1">Quick Panel <fa-icon [icon]="faCoffee"></fa-icon></span>
        </div>
        <mat-divider></mat-divider>

        <div class="p-8" fxLayout="row wrap">
            <button mat-flat-button color="accent" class="m-4 w-108 h-108" routerLink="/skill-management">Skill Management</button>
            <button mat-flat-button color="accent" class="m-4 w-108 h-108">Project Dashboard</button>
            <button mat-flat-button color="accent" class="m-4 w-108 h-108">Innovation Management</button>
            <button mat-flat-button class="m-4 w-108 h-108 btn-skill-mng">
            </button>
            <button mat-flat-button color="accent" class="m-4 w-108 h-108">Project</button>
            <button mat-flat-button color="accent" class="m-4 w-108 h-108">Innovation</button>
            <button mat-flat-button color="accent" class="m-4 w-108 h-108">Organization</button>
        </div>

    </div>
    <!-- / Front -->

</fuse-widget>
<!-- / WIDGET 1 -->