mat-icon {
    font-size: 40px;
}
button {
    white-space: pre-wrap !important;
    line-height: 2px;

}

.fuse-widget-front {
     background-color: rgba(0, 0, 0, 0.5) !important;
     color: white;
 }