<!-- SECTION TITLE -->
<span class="mat-headline ml-12">Skills</span>

<!-- SKILLS PANEL CARD -->
<div class="skills-panel fuse-card auto-width" [@animate]="{value:'*',params:{y:'100%'}}">

    <!-- TABS GROUP -->
    <mat-tab-group>

        <!---------- TAB START ------->
        <mat-tab label="First">

            <!-------------------------------------------------------------------------------->
            <!-- TAB HEADER -->
            <!-------------------------------------------------------------------------------->
            <div class="m-12">
                <span class="h1">Role: <span class="blue-font">Software Developer <mat-icon>settings</mat-icon></span></span>
            </div>

            <mat-divider class="mt-16"></mat-divider>

            <!-------------------------------------------------------------------------------->
            <!-- TAB CONTENT -->
            <!-------------------------------------------------------------------------------->
            <div class="p-12">

                <!--------------------------–-->
                <!--______ SKILLS AREA ______-->
                <!--------------------------–-->
                <app-skills-area></app-skills-area>

            </div>

        </mat-tab>
        <!-------- TAB END ------->

    </mat-tab-group>
    <!-- TABS GROUP END -->

</div>
<!-- SKILLS PANEL CARD END -->
