<!-- SKILLS AREA START -->
<div class="fuse-card auto-width mat-elevation-z3 my-12 p-12">

    <!---------------------------------------------->
    <!-- CARD TITLE -->
    <!---------------------------------------------->
    <span class="mat-title">Technologies</span>

    <!---------------------------------------------->
    <!-- CARD CONTENT -->
    <!---------------------------------------------->
    <div class="mt-12" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px">

        <!------------------->
        <!-- SKILL -->
        <!------------------->
        <app-skill></app-skill>

    </div>
    <!-- CARD CONTENT END -->

</div>
<!-- SKILLS AREA END -->