<!-- SKILL PANEL START -->
<mat-expansion-panel fxFlex="1 0 0" ngClass.gt-xs="skill-card">

    <!---------------------------------------->
    <!-- SKILL PANEL HEADER -->
    <!---------------------------------------->
    <mat-expansion-panel-header fxLayout fxLayoutAlign="space-between center">

        <mat-panel-title fxLayout fxLayoutAlign="start center">
            Angular
        </mat-panel-title>

        <!-- PERCENTAGE INDICATOR  -->
        <mat-chip-list class="mr-16">
            <mat-chip>40%</mat-chip>
        </mat-chip-list>

    </mat-expansion-panel-header>
    <!-- SKILL PANEL HEADER -->

    <!---------------------------------------->
    <!-- SKILL PANEL CONTENT -->
    <!---------------------------------------->
    <div class="white-font">

        <!--------------------->
        <!-- SKILL COMPONENT -->
        <!--------------------->
        <app-skill-component></app-skill-component>

    </div>
    <!-- SKILL PANEL CONTENT END  -->

</mat-expansion-panel>
<!-- SKILL PANEL END -->