<mat-card>
  <div class="form">
    <form [formGroup]="knowledgesourceForm">
      <div>
        <mat-form-field>
          <mat-label>Type Name</mat-label>
          <input matInput formControlName="type_name" placeholder="Type name">
          <mat-hint>Required</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea formControlName="description" matInput placeholder="Description"></textarea>
          <mat-hint>Required</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Difficulty</mat-label>
          <input matInput formControlName="difficulty" placeholder="Difficulty">
          <mat-hint>Required</mat-hint>
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label>Resource URL</mat-label>
        <input matInput formControlName="resource_url" placeholder="Resource URL">
        <mat-hint>Required</mat-hint>
      </mat-form-field>
    </div>
      <div>
        <button mat-raised-button type="button" [disabled]="!knowledgesourceForm.valid"
          (click)="onButtonClicked(knowledgesourceForm.value)">{{buttonLabel}}</button>
        <div class="divider"></div>
        <button mat-raised-button type="button" (click)="onBack()">BACK</button>
      </div>
    </form>
  </div>
</mat-card>