<!-- PAGE START -->
<div id="profile" class="page-layout simple full-width">

    <!----- PROFILE HEADER ------>
    <app-header></app-header>

    <!---- PROFILE CONTENT ------->
    <div class="w-100-p p-24">

        <!------------------------- SKILL GROWTH CHART ------------------------>
        <app-skill-growth></app-skill-growth>

        <!--------------------------------------------------------------------->
        <mat-divider class="my-20"></mat-divider>
        <!--------------------------------------------------------------------->

        <!----------------------------- SKILLS PANEl -------------------------->
        <app-skills-panel></app-skills-panel>

    </div>
    <!-- CONTENT END -->

</div>
<!-- PAGE ENDS -->