// IMPORT
@import "src/@fuse/scss/fuse";

#profile {

    // HEADER
    .header {
        height: 320px;
        min-height: 320px;
        max-height: 320px;
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat 0 45%;

        .profile-image {
            margin-right: 24px;

            @include media-breakpoint('lt-md') {
                margin: 0 0 16px 0;
            }
        }

        .name {
            font-size: 34px;
            color: #FFFFFF;
        }

        .username {
            color: #E0F7FA;
        }

        .contact {

            .contact-item-logo {
                color: #80deea;
            }

            .contact-item-text {
                color: #FFFFFF;
                font-size: 18px;
                padding-bottom: 3px;
            }

        }

    } //  HEADER ENDS

}  // PROFILE ENDS