// IMPORT
@import "src/@fuse/scss/fuse";

#profile {

    // HEADER
    .header {
        height: 320px;
        min-height: 320px;
        max-height: 320px;
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat 0 45%;

        @include media-breakpoint('gt-sm') {
            height: 200px;
            min-height: 200px;
            max-height: 200px;
        }

        .profile-image {
            margin-right: 24px;

            @include media-breakpoint('lt-md') {
                margin: 0 0 16px 0;
            }
        }

        .name {
            font-size: 34px;
            color: #FFFFFF;
        }

        .primary-role {
            color: #81d4fa;
        }

        .contact {
            margin-top: 17px;

            @include media-breakpoint('gt-sm') {
                margin: 15px 0 0 60px;
            }

            .contact-item-logo {
                color: #81d4fa;
                margin-right: 5px;
            }

            .contact-item-text {
                color: #FFFFFF;
                font-size: 18px;
            }

        }

    }

    //  HEADER ENDS

    // CONTENT
    .content {
        width: 100%;
        padding: 24px;


        .skills {
            overflow: hidden;

            .role-title {
                color: #44c1fa;
            }

            .expansion-panel-content {
                color: white;

                .skill-component {
                    margin: 10px 0 10px;

                    .progress-bar-number-indicator {
                        color: #4CAF50;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                    }

                }

            }

        }

    }

    // CONTENT ENDS

}

// PROFILE ENDS


// ------------------------------------------------------------------------------------
// MATERIAL COMPONENT CUSTOMIZE

// ------------------------------------
// MAT-TAB
// ------------------------------------
.mat-tab-labels {
    background-color: #2e3440;
}

.mat-ink-bar {
    background-color: #81d4fa !important;
}

// ------------------------------------
// MAT-EXPANSION-PANEL
// ------------------------------------
.mat-expansion-panel, .mat-expansion-panel-header {
    background-color: #2e3440 !important;
}

.mat-expansion-panel-header-title, .mat-expansion-indicator {
    color: white !important;
}

.mat-expansion-indicator::after {
    color: white !important;
}

// ------------------------------------
// MAT-PROGRESS-BAR
// ------------------------------------

.mat-progress-bar {
    border-radius: 100px;
    height: 17px;
}

.mat-progress-bar-fill::after {
    background-color: #0062ff !important;
}
