<!-- PAGE START -->
<div id="profile" class="page-layout simple full-width">

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between start">

        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center">

            <!--  PROFILE PICTURE -->
            <img class="profile-image avatar huge" src="assets/images/avatars/Velazquez.jpg"
                 [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">

            <!-- TITLE -->
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="center start">

                <!-- NAME -->
                <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Charlie Adams
                </div>

                <!-- PRIMARY ROLE -->
                <div class="mat-title primary-role" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Software Developer
                </div>

            </div>
            <!-- TITLE ENDS -->

            <!-- CONTACT -->
            <div class="contact" fxLayout="row wrap" fxFlexAlign.gt-sm="start">

                <!-- EMAIL -->
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="contact-item-logo">email</mat-icon>
                    <div class="contact-item-text">cadams@email.com</div>
                </div>

            </div>
            <!-- CONTACT ENDS -->

        </div>

    </div>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <div class="content">

        <div [@animate]="{value:'*',params:{y:'100%'}}" class="fuse-card auto-width chart-card">

            <div class="p-16 border-bottom">
                <div class="h1">Skills Growth</div>
            </div>

            <!-- CARD CONTENT -->
            <div class="p-12">

                <!-- SKILL OVER TIME CHART -->
                <div class="h-320">
                    <ngx-charts-line-chart
                        [results]="multi"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel">
                    </ngx-charts-line-chart>
                </div>
                <!--  CHART END -->

            </div>
            <!-- CARD CONTENT -->

        </div>

        <mat-divider class="my-20"></mat-divider>

        <span class="mat-headline ml-12">Skills</span>

        <div class="skills fuse-card auto-width mt-8">
            <mat-tab-group backgroundColor="primary">
                <mat-tab label="First">

                    <span class="h1 m-12">Role: <span class="role-title">Software Developer <mat-icon>settings</mat-icon></span></span>
                    <mat-divider class="mt-12"></mat-divider>

                    <div class="p-12">

                        <div class="fuse-card auto-width mat-elevation-z3 p-12">
                            <span class="mat-title">Technologies</span>

                            <!-- SKILLS PANELS -->
                            <div class="mt-12" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px">

                                <mat-expansion-panel fxFlex="1 0 0" ngClass.gt-xs="skill-card">
                                    <mat-expansion-panel-header>

                                        <mat-panel-title fxLayout fxLayoutAlign="start center">
                                            Angular
                                            <mat-chip-list class="ml-12">
                                                <mat-chip>40%</mat-chip>
                                            </mat-chip-list>

                                        </mat-panel-title>

                                    </mat-expansion-panel-header>

                                    <!-- EXPANSION PANEL CONTENT -->
                                    <div class="expansion-panel-content">

                                        <!-- SKILL COMPONENT ROW -->
                                        <div fxLayout="row" fxLayoutAlign="center center" class="skill-component">

                                            <span class="mat-body-2" fxFlex="1 0 0">HTML 5</span>

                                            <div fxFlex="1 0 0" fxLayoutAlign="center center" fxLayoutGap="6px">
                                                <mat-progress-bar fxFlex="1 0 0" mode="determinate" value="40"></mat-progress-bar>
                                                <span class="mat-caption">40%</span>
                                            </div>


                                        </div>

                                        <!-- SKILL COMPONENT ROW -->
                                        <div fxLayout="row" fxLayoutAlign="center center" class="skill-component">

                                            <span class="mat-body-2" fxFlex="1 0 0">ASYNCHRONOUS JAVASCRIPT</span>

                                            <div fxFlex="1 0 0" fxLayoutAlign="center center" fxLayoutGap="6px">
                                                <mat-progress-bar fxFlex="1 0 0" mode="determinate" value="40"></mat-progress-bar>
                                                <span class="mat-caption">40%</span>
                                            </div>

                                        </div>

                                        <!-- SKILL COMPONENT ROW -->
                                        <div fxLayout="row" fxLayoutAlign="center center" class="skill-component">

                                            <span class="mat-body-2" fxFlex="1 0 0">CSS</span>

                                            <div fxFlex="1 0 0" fxLayoutAlign="center center" fxLayoutGap="6px">
                                                <mat-progress-bar fxFlex="1 0 0" mode="determinate" value="40"></mat-progress-bar>
                                                <span class="mat-caption">40%</span>
                                            </div>

                                        </div>

                                    </div>
                                    <!-- EXPANSION PANEL ENDS -->

                                </mat-expansion-panel>

                                <mat-expansion-panel fxFlex="1 0 0" ngClass.gt-xs="skill-card">
                                    <mat-expansion-panel-header>

                                        <mat-panel-title fxLayout fxLayoutAlign="start center">
                                            Angular
                                            <mat-chip-list class="ml-12">
                                                <mat-chip>40%</mat-chip>
                                            </mat-chip-list>

                                        </mat-panel-title>

                                    </mat-expansion-panel-header>

                                    <!-- EXPANSION PANEL CONTENT -->
                                    <div class="expansion-panel-content">

                                        <!-- SKILL COMPONENT ROW -->
                                        <div fxLayout="row" fxLayoutAlign="center center" class="skill-component">

                                            <span class="mat-body-2" fxFlex="1 0 0">HTML 5</span>

                                            <div fxFlex="1 0 0" fxLayoutAlign="center center" fxLayoutGap="6px">
                                                <mat-progress-bar fxFlex="1 0 0" mode="determinate" value="40"></mat-progress-bar>
                                                <span class="mat-caption">40%</span>
                                            </div>


                                        </div>

                                        <!-- SKILL COMPONENT ROW -->
                                        <div fxLayout="row" fxLayoutAlign="center center" class="skill-component">

                                            <span class="mat-body-2" fxFlex="1 0 0">ASYNCHRONOUS JAVASCRIPT</span>

                                            <div fxFlex="1 0 0" fxLayoutAlign="center center" fxLayoutGap="6px">
                                                <mat-progress-bar fxFlex="1 0 0" mode="determinate" value="40"></mat-progress-bar>
                                                <span class="mat-caption">40%</span>
                                            </div>

                                        </div>

                                        <!-- SKILL COMPONENT ROW -->
                                        <div fxLayout="row" fxLayoutAlign="center center" class="skill-component">

                                            <span class="mat-body-2" fxFlex="1 0 0">CSS</span>

                                            <div fxFlex="1 0 0" fxLayoutAlign="center center" fxLayoutGap="6px">
                                                <mat-progress-bar fxFlex="1 0 0" mode="determinate" value="40"></mat-progress-bar>
                                                <span class="mat-caption">40%</span>
                                            </div>

                                        </div>

                                    </div>
                                    <!-- EXPANSION PANEL ENDS -->

                                </mat-expansion-panel>

                                <mat-expansion-panel fxFlex="1 0 0" ngClass.gt-xs="skill-card">
                                    <mat-expansion-panel-header>

                                        <mat-panel-title fxLayout fxLayoutAlign="start center">
                                            Angular
                                            <mat-chip-list class="ml-12">
                                                <mat-chip>40%</mat-chip>
                                            </mat-chip-list>

                                        </mat-panel-title>

                                    </mat-expansion-panel-header>

                                    <!-- EXPANSION PANEL CONTENT -->
                                    <div class="expansion-panel-content">

                                        <!-- SKILL COMPONENT ROW -->
                                        <div fxLayout="row" fxLayoutAlign="center center" class="skill-component">

                                            <span class="mat-body-2" fxFlex="1 0 0">HTML 5</span>

                                            <div fxFlex="1 0 0" fxLayoutAlign="center center" fxLayoutGap="6px">
                                                <mat-progress-bar fxFlex="1 0 0" mode="determinate" value="40"></mat-progress-bar>
                                                <span class="mat-caption">40%</span>
                                            </div>


                                        </div>

                                        <!-- SKILL COMPONENT ROW -->
                                        <div fxLayout="row" fxLayoutAlign="center center" class="skill-component">

                                            <span class="mat-body-2" fxFlex="1 0 0">ASYNCHRONOUS JAVASCRIPT</span>

                                            <div fxFlex="1 0 0" fxLayoutAlign="center center" fxLayoutGap="6px">
                                                <mat-progress-bar fxFlex="1 0 0" mode="determinate" value="40"></mat-progress-bar>
                                                <span class="mat-caption">40%</span>
                                            </div>

                                        </div>

                                        <!-- SKILL COMPONENT ROW -->
                                        <div fxLayout="row" fxLayoutAlign="center center" class="skill-component">

                                            <span class="mat-body-2" fxFlex="1 0 0">CSS</span>

                                            <div fxFlex="1 0 0" fxLayoutAlign="center center" fxLayoutGap="6px">
                                                <mat-progress-bar fxFlex="1 0 0" mode="determinate" value="40"></mat-progress-bar>
                                                <span class="mat-caption">40%</span>
                                            </div>

                                        </div>

                                    </div>
                                    <!-- EXPANSION PANEL ENDS -->

                                </mat-expansion-panel>

                                <mat-expansion-panel fxFlex="1 0 0" ngClass.gt-xs="skill-card">
                                    <mat-expansion-panel-header>

                                        <mat-panel-title fxLayout fxLayoutAlign="start center">
                                            Angular
                                            <mat-chip-list class="ml-12">
                                                <mat-chip>40%</mat-chip>
                                            </mat-chip-list>

                                        </mat-panel-title>

                                    </mat-expansion-panel-header>

                                    <!-- EXPANSION PANEL CONTENT -->
                                    <div class="expansion-panel-content">

                                        <!-- SKILL COMPONENT ROW -->
                                        <div fxLayout="row" fxLayoutAlign="center center" class="skill-component">

                                            <span class="mat-body-2" fxFlex="1 0 0">HTML 5</span>

                                            <div fxFlex="1 0 0" fxLayoutAlign="center center" fxLayoutGap="6px">
                                                <mat-progress-bar fxFlex="1 0 0" mode="determinate" value="40"></mat-progress-bar>
                                                <span class="mat-caption">40%</span>
                                            </div>


                                        </div>

                                        <!-- SKILL COMPONENT ROW -->
                                        <div fxLayout="row" fxLayoutAlign="center center" class="skill-component">

                                            <span class="mat-body-2" fxFlex="1 0 0">ASYNCHRONOUS JAVASCRIPT</span>

                                            <div fxFlex="1 0 0" fxLayoutAlign="center center" fxLayoutGap="6px">
                                                <mat-progress-bar fxFlex="1 0 0" mode="determinate" value="40"></mat-progress-bar>
                                                <span class="mat-caption">40%</span>
                                            </div>

                                        </div>

                                        <!-- SKILL COMPONENT ROW -->
                                        <div fxLayout="row" fxLayoutAlign="center center" class="skill-component">

                                            <span class="mat-body-2" fxFlex="1 0 0">CSS</span>

                                            <div fxFlex="1 0 0" fxLayoutAlign="center center" fxLayoutGap="6px">
                                                <mat-progress-bar fxFlex="1 0 0" mode="determinate" value="40"></mat-progress-bar>
                                                <span class="mat-caption">40%</span>
                                            </div>

                                        </div>

                                    </div>
                                    <!-- EXPANSION PANEL ENDS -->

                                </mat-expansion-panel>

                                <mat-expansion-panel fxFlex="1 0 0" ngClass.gt-xs="skill-card">
                                    <mat-expansion-panel-header>

                                        <mat-panel-title fxLayout fxLayoutAlign="start center">
                                            Angular
                                            <mat-chip-list class="ml-12">
                                                <mat-chip>40%</mat-chip>
                                            </mat-chip-list>

                                        </mat-panel-title>

                                    </mat-expansion-panel-header>

                                    <!-- EXPANSION PANEL CONTENT -->
                                    <div class="expansion-panel-content">

                                        <!-- SKILL COMPONENT ROW -->
                                        <div fxLayout="row" fxLayoutAlign="center center" class="skill-component">

                                            <span class="mat-body-2" fxFlex="1 0 0">HTML 5</span>

                                            <div fxFlex="1 0 0" fxLayoutAlign="center center" fxLayoutGap="6px">
                                                <mat-progress-bar fxFlex="1 0 0" mode="determinate" value="40"></mat-progress-bar>
                                                <span class="mat-caption">40%</span>
                                            </div>


                                        </div>

                                        <!-- SKILL COMPONENT ROW -->
                                        <div fxLayout="row" fxLayoutAlign="center center" class="skill-component">

                                            <span class="mat-body-2" fxFlex="1 0 0">ASYNCHRONOUS JAVASCRIPT</span>

                                            <div fxFlex="1 0 0" fxLayoutAlign="center center" fxLayoutGap="6px">
                                                <mat-progress-bar fxFlex="1 0 0" mode="determinate" value="40"></mat-progress-bar>
                                                <span class="mat-caption">40%</span>
                                            </div>

                                        </div>

                                        <!-- SKILL COMPONENT ROW -->
                                        <div fxLayout="row" fxLayoutAlign="center center" class="skill-component">

                                            <span class="mat-body-2" fxFlex="1 0 0">CSS</span>

                                            <div fxFlex="1 0 0" fxLayoutAlign="center center" fxLayoutGap="6px">
                                                <mat-progress-bar fxFlex="1 0 0" mode="determinate" value="40"></mat-progress-bar>
                                                <span class="mat-caption">40%</span>
                                            </div>

                                        </div>

                                    </div>
                                    <!-- EXPANSION PANEL ENDS -->

                                </mat-expansion-panel>

                                <mat-expansion-panel fxFlex="1 0 0" ngClass.gt-xs="skill-card">
                                    <mat-expansion-panel-header>

                                        <mat-panel-title fxLayout fxLayoutAlign="start center">
                                            Angular
                                            <mat-chip-list class="ml-12">
                                                <mat-chip>40%</mat-chip>
                                            </mat-chip-list>

                                        </mat-panel-title>

                                    </mat-expansion-panel-header>

                                    <!-- EXPANSION PANEL CONTENT -->
                                    <div class="expansion-panel-content">

                                        <!-- SKILL COMPONENT ROW -->
                                        <div fxLayout="row" fxLayoutAlign="center center" class="skill-component">

                                            <span class="mat-body-2" fxFlex="1 0 0">HTML 5</span>

                                            <div fxFlex="1 0 0" fxLayoutAlign="center center" fxLayoutGap="6px">
                                                <mat-progress-bar fxFlex="1 0 0" mode="determinate" value="40"></mat-progress-bar>
                                                <span class="mat-caption">40%</span>
                                            </div>


                                        </div>

                                        <!-- SKILL COMPONENT ROW -->
                                        <div fxLayout="row" fxLayoutAlign="center center" class="skill-component">

                                            <span class="mat-body-2" fxFlex="1 0 0">ASYNCHRONOUS JAVASCRIPT</span>

                                            <div fxFlex="1 0 0" fxLayoutAlign="center center" fxLayoutGap="6px">
                                                <mat-progress-bar fxFlex="1 0 0" mode="determinate" value="40"></mat-progress-bar>
                                                <span class="mat-caption">40%</span>
                                            </div>

                                        </div>

                                        <!-- SKILL COMPONENT ROW -->
                                        <div fxLayout="row" fxLayoutAlign="center center" class="skill-component">

                                            <span class="mat-body-2" fxFlex="1 0 0">CSS</span>

                                            <div fxFlex="1 0 0" fxLayoutAlign="center center" fxLayoutGap="6px">
                                                <mat-progress-bar fxFlex="1 0 0" mode="determinate" value="40"></mat-progress-bar>
                                                <span class="mat-caption">40%</span>
                                            </div>

                                        </div>

                                    </div>
                                    <!-- EXPANSION PANEL ENDS -->

                                </mat-expansion-panel>

                            </div>


                        </div>

                    </div>

                </mat-tab>
                <mat-tab label="Second">

                    <p>ksks</p>
                    <p>jsjs</p>

                </mat-tab>

            </mat-tab-group>
        </div>

    </div>
    <!-- CONTENT END -->

</div>
<!-- PAGE ENDS -->